.header {
  width: 100%;
  height: 20vh;
  background-image: url("https://github.githubassets.com/images/modules/site/home-campaign/hero-drone.webp");
  background-repeat: no-repeat;
  background-position: top right;

  font-family: inherit;
  font-size: 5rem;
  margin: 0 auto;
  color: black;
  font-weight: 100;
  display: flex;
  align-items: center;
  padding: 2rem 2rem;
  justify-content: space-between;
  position: relative;
}

.div-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div-title h1 {
  font-family: "Dancing Script", serif;
  font-weight: 900;
}

.div-title h5 {
  font-family: "Gloria Hallelujah", serif;
  font-weight: lighter;
  font-size: 18px;
}

.span-underlined {
  text-decoration: underline;
}

.div-description {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Dancing Script", tahoma;
}

.h5start {
  text-align: left;
}

.h5end {
  text-align: end;
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 3rem;
    justify-content: center;
    background-image: url("https://github.githubassets.com/images/modules/site/home-campaign/hero-drone.webp");
    background-repeat: no-repeat;
    background-position: bottom right 480px;
  }

  .headertitle {
    width: 100%;
    text-align: center;
  }

  .h5end {
    text-align: center;
  }

  .h5start,
  .h5end,
  .subdiv2 {
    display: none;
  }
}

@media screen and (max-width: 475px) {

   .header {
    background-position: bottom right 300px;
  }

  .h5start,
  .h5end,
  .subdiv2 {
    display: none;
  }

  .div-title h1 {
    font-size: 2rem;
    margin-left: 50px;
  }
}

@media screen and (max-width: 375px) {
  .div-title h1 {
    margin-left: 10px;
  }

    .header {
    background-position: bottom right 250px;
  }
}

@media screen and (max-width: 320px) {
  .div-title h1 {
    font-size: 1.75rem;
    margin-left: 0;
  }
}
