#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Philosopher, sans-serif;
}

.main {
  max-width: 100vw;
  height: 60vh;
  position: relative;
  background: white;
  overflow: hidden;
  padding: 0;
}

.overlay {
  top: 20vh;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 60vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  position: fixed;
}

.video {
  z-index: -1;
  width: 100vw;
  border: none;
  transition: all 0.8s ease-in-out;
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
}


.list {
  color: white;
  position: absolute;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3%;
}

.ul {
  list-style: none;
  display: flex;
  width: 60%;
  column-gap: 15px;
  justify-content: space-evenly;
  font-family: Philosopher, sans-serif;
}

li {
  font-size: 22px;
  border-radius: 15px;
  border: 1px solid #f2f2f279;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  /* box-shadow: rgba(0, 0, 0, 0.25) -1px -10px 5px,
    rgba(124, 110, 110, 0.244) 0px 10px 10px; */
}

li:nth-child(1) {
  color: white;
}

li:nth-child(1):hover {
  color: black;
}

li:hover {
  background-color: white;
  color: black;
}

.show {
  width: auto;
  min-width: 60%;
  border: 1px solid #dddddd6b;
  border-radius: 15px;
  padding: 2rem 1rem;
  margin: 2.5rem 0 0;
  font-family: Philosopher, sans-serif;
  height: auto;
  position: relative;
}

.SelectTargetcurrency,
.Selectcurrency {
  min-width: 21%;
  height: 55px;
  font-family: Philosopher, sans-serif;
  border-radius: 8px;
  /* display: none; */
  font-size: 20px;
  padding: 0 15px;
  background-color: white;
  color: black;
  outline-color: none;
  margin: 0 10% 0 10px;
}

/* *here */

#select-currency {
  background-color: rgb(253, 253, 253);
}

.Selectcurrency {
  margin-left: 2.3%;
}

.title-adding-balance {
  text-align: center;
  margin: 0 0 3%;
  font-family: Philosopher, Tahoma;
  font-size: 30px;
}

.Selectcurrency:focus {
  outline: none;
}

/* .p-input {
  display: flex;
  align-items: center;
  margin-left: 15%;
  gap: 15px;
  justify-content: center;
} */

/* *here */

.div-input1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  width: 40vw;
  margin-left: 150px;
}

.span-balance {
  width: 13rem;
  margin-right: 5rem;
  height: 3.4rem;
  border-radius: 8px;
  color: black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  font-size: 20px;
}

.SelectTargetcurrency {
  width: 15rem;
  padding: 8px 7px;
}

.inputcurrency {
  height: 55px;
  color: black;
  padding: 8px 7px;
  padding-right: 0;
  font-size: 20px;
  border-radius: 8px;
  width: 10rem;
}

input[type="number"] :focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* label {
  margin-right: 10px;
  font-size: 20px;
} */

.submit-btn,
input[type="submit"] {
  width: 20%;
  height: 55px;
  font-size: 22px;
  font-family: Philosopher, sans-serif;
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: inset 0px 10px 63px -3px rgba(205, 203, 203, 0.8),
    0px 10px 15px -3px rgba(0, 0, 0, 0.8), 0px 0px 3px -3px rgba(0, 0, 0, 0.8);
  font-weight: 900;
  margin-left: 6vw;
}

.div-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7% auto 0;
}

.convert1,
.convert {
  font-size: 1.25em;
  box-shadow: inset 0px 10px 63px -3px rgba(205, 203, 203, 0.5),
    0px 10px 15px -3px rgba(0, 0, 0, 0.5), 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
  color: rgb(252, 252, 252);
  font-weight: bold;
  font-family: Philosopher, sans-serif;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 8px;
}

.div-total-in-default-curr {
  width: fit-content;
  padding: 8px 16px;
  margin-left: 15%;
  position: absolute;
  right: 5%;
  top: 8%;
}

.select-less-than-475 {
  display: none;
  width: 60%;
  padding: 12px 20px;
  color: black;
}

.displayimageinstead {
  display: none;
  z-index: -1;
  width: 100vw;
  border: none;
}

.displaylistitems {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.displaylistitemselect {
  display: none;
}

.div-input2 {
  display: none;
}

@media screen and (max-width: 768px) {
  .overlay {
    top: 20%;
    height: 58%;
    /* position: fixed; */
  }

  .main {
    height: 60%;
  }

  /* .p-input {
    flex-wrap: nowrap;
    margin-top: 20px;
  } */

  .logo {
    right: 20px;
    height: 6rem;
    bottom: 0;: 15%;
  }

  .show {
    width: 95%;
    height: 350px;
  }

  .submit-btn,
  input[type="submit"] {
    margin-left: 15vw;
  }

  .div-input1 {
    width: 100%;
    margin: 0;
  }

  .convert {
    margin: 5% 0 0 4vw;
  }

  .div-for-responsive:after {
    content: "Adverts here";
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ul {
    width: 100%;
  }
}

@media screen and (max-width: 475px) {
  .show .title-adding-balance h1:first-child {
    display: none;
  }

  .show {
    padding: 2rem 0.5rem 0 0;
    height: 330px;
  }

  .video {
    display: none;
  }

  .displaylistitems {
    display: none;
  }

  .displaylistitemselect {
    display: block;
    width: 100%;
    margin-left: 100px;
  }

  .displayimageinstead {
    display: block;
  }

  .p-input {
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inputcurrency {
    /* width: 20rem; */
  }

  .SelectTargetcurrency {
    width: 13rem;
    margin-bottom: 3%;
    margin-left: 0;
  }

  .submit-btn {
    width: 10rem;
  }

  .span-balance {
    margin-right: 1rem;
  }

  .convert {
    text-align: center;
  }

  .ul {
    display: none;
  }

  .select-less-than-475 {
    display: block;
    width: 80%;
    padding: 15px 25px;
    height: 4rem;
    font-size: 1.5rem;
     color: black;
    border-radius: 14px;
  }

  .logo {
    display: none;
  }

  .overlay {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .logo {
    top: 10%;
    right: 10px;
  }

  .select-less-than-475 {
    display: block;
  }

  .main {
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    background-image: linear-gradient(to top, #16105c 0%, #083052 100%);
  }

  .div-input1 {
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding-left: 15px;
  }

  .displayimageinstead {
    display: none;
  }

  .inputcurrency {
    width: 100%;
    margin-bottom: 0;
    margin-right: 35px;
  }

  .span-balance {
    width: 100%;
    margin-right: 35px;
  }

  .SelectTargetcurrency {
    width: 100%;
  }

  .select-less-than-475 {
    margin-left: 0;
    margin-right: 200px;
  }
}

@media screen and (max-width: 320px) {
  .displaylistitemselect {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

   .select-less-than-475 {
   width: fit-content;
   margin: 0;
  }

 .div-input1 {
  padding: 0;
 }

  .inputcurrency {
    width: 100%;
    margin-bottom: 0;
    margin-right: 25px;
  }

  .span-balance {
    width: 100%;
    margin-right: 25px;
  }

  .SelectTargetcurrency {
    width: 100%;
     margin-left: 5px;
  }
} 